<h1>New Song</h1>


<form action="/songs" method="POST">

    <label for="song_name">Name</label>
    <input type="text" name="song_name" id="song_name">
    <br>
    <% Genre.all.each do |genre| %>
        <label for="<%= genre.id%>"><%= genre.name%></label>
        <input type="checkbox" name="genres[]" id="<%= genre.id%>" value="<%= genre.id%>">
        <br>
    <% end %>

    <label for="artist_name">Artist Name</label>
    <input type="text" name="artist_name" id="artist_name">
    <br><br>
    <input type="submit" value="Create Song">
</form>